<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if title %}
    {{ title }}
    {% else %}
    OpenSheBang
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" style="padding: 10px;">OpenSheBang</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="list-style: none;">
        <!-- This has an `active` element to it...
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      -->
        <li class="nav-item" style="padding:10px;">
          <a class="nav-link" href="{{url_for('index')}}>Blog</a> <!-- The `index` is not the URL, but the function name, behind the decorator. -->
        </li>
        <li class="nav-item" style="padding:10px;">
          <a class="nav-link" href="{{url_for('licenses')}}">Licenses</a>
        </li>
        <li class="nav-item active" style="padding:10px;">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>
        <!-- This has an `disabled` item
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
      </ul>
    </div>
  </nav>

  <div>
    {% with messages = get_flashed_messages() %} <!-- Obtain all the flashed messages -->
    {% if messages %}
    <ul>
      {% for message in messages %} <!-- The `messages` are imported above with `with messages` -->
      <li>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>

  {% block content %}
  {% endblock content %}


</body>

</html>