{% extends "base.html" %}

{% block content %}


<div>
  <ul>
      <li>
        The base Blog part of OpenSheBang is based on Microblog made by Miguel Grinberg, with the MIT License: [miguelgrinberg/microblog: A
      microblogging web application written in Python and Flask that I developed as part of my Flask Mega-Tutorial
      series.](https://github.com/miguelgrinberg/microblog/tree/main)
      </li>
      <li>
        All other parts are written by Dion Dresschers, with the GPLv2 License: [openshebang/openshebang: The Open
        Source web application OpenSheBang based on Python/Flask that tends to be the Swiss pocketknife of useful and
        fun web applications.](https://github.com/openshebang/openshebang)
      </li>
  </ul>
</div>

{% endblock content %}