{% extends "base.html" %}

{% block content %}
<h1>Sign in</h1>
<form action="" method="post"> <!-- If `action=` emtpy, than it will use the current page/URL.-->

    {{ form.hidden_tag() }} <!-- This will create a hidden field with the token agains CSRF -->

    <p>
       {{ form.username.label }} : {{ form.username(size=32) }} <!-- The `size` is for the amount of characters. -->
       <!-- Not necessary anymore, as HTML already checks this...
      {% for error in form.username.errors %}
      <span style="color: red;">{{ error }}</span>  
      {% endfor %}
      -->
    </p>
    <p>
    {{ form.password.label }} : {{ form.password(size=32) }} 
    <!-- Not necessary anymore, as HTML already checks this...
      {% for error in form.password.errors %}
      <span style="color: red;">{{ error }}</span>  
      {% endfor %}
    -->
    </p>
    <p>
        {{ form.remember_me() }} {{ form.remember_me.label() }}
    </p>
    <p>
        {{ form.submit() }}
    </p>

</form>
{% endblock content %}

