{% extends 'base.html' %} <!-- hier hoeft dus NIET de 'templates'-dir in... dus GEEN `extends 'templates/base.html'`, maar `extends 'base.html'`-->

{% block content %}

  <div class="border round">
    <h1>{{ post.title }}</h1>

    <!-- {{ post.id}} -->
    <!-- {{ post.author }}-->
    <h5 class="text-secondary">
    Written by {{ post.author.first_name }} {{ post.author.last_name}} on {{ post.created_at|date:"Y-m-d h:m" }}
    {% if updated_time %}( geupdate op: {{ post.updated_at|date:"Y-m-d" }} )
    {% endif %}
    </h5>
    <div>
      {{ post.text }}
    </div>
  </div>

{% endblock content %}




