{% extends 'base.html' %} 

<!-- Je mag niet met een HTML comment beginnen, de 'extends' moet per se bovenaan... -->

<!-- osbposts/posts_all.html -->


<!-- {% load static %} # Vertel aan Django dat deze kijkt in de `core/settings.py` file naar STATIC directories. --> -->

{% block content %}

  
  <div class="row row-cols3 g-2">
    <h1>Hier zijn alle artikelen:</h1>

    {% for post in posts %}
        <div class="row">
          <div class="p-3 border">
            <h2>{{ post.title }}</h2>
            <p>
            {{ post.text|truncatechars:100}}
            </p>
            <p>  
              <!-- <a href="/osbposts/posts_single/{{ post.id }}" class="text-dark text-decoration-none"><button class="btn btn-primary" type="submit">Lees verder...</button></a> -->
              <a href="{% url 'posts_single' post_id=post.id %}" class="text-dark text-decoration-none"><button class="btn btn-primary" type="submit">Lees verder...</button></a>
            </p>
          </div>
        </div>
    {% endfor %}
  </div>

{% endblock content %}