<!-- static/templates/base.html -->
{% load static %} <!-- for loading the static css file -->
<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <header>
  </header>

  <nav>
  </nav>

<main>
  <div class="my-5 text-center container">
    {% block content %}
      {% endblock content %}
  </div>
</main>

  <aside>   
  </aside>
  <footer>   
  </footer>

</body>
</html>