{% extends "blog_base.html" %}

{% block header %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/index-bg.jpg' )}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>uOnline</h1>
            <span class="subheading">{{ pagename }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}

{% include '_blog_articles.html' %}

{% endblock content %}
