<html>
    <head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Welkome to OSB!</title>
    {% endif %}
        </head>
    <body>
        <div>
            OSB: 
            <a href="{{ url_for(index) )}}">Home</a> <!-- This is in stead of using /index, the argument is the name of the function for that route-->
            <a href="{{ url_for(login) }}">Login</a> <!-- Same as above -->
        </div>
        {% with messages = get_flashed_messages() %} <!-- The get_flashed_messages() is provided by Flask -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock content %}
    </body>
</html>