{% extends "blog_base.html" %}

{% block header %}
  <!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/blog_post-bg.jpg' )}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.title }}</h1>
            <h2 class="subheading">{{ article.subtitle }}</h2>
            <span class="meta">Posted by: {{ article.author }} on {{ article.timestamp.strftime('%B, %d, %Y') }}
              </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            {{ article.content|safe }} <!-- if there is still HTML in your text in the database. -->
          </div>
        </div>
      </div>
    </div>
  </article>

  {% endblock content %}
  