{% extends 'base-admin.html' %}

{% block content %}
    <h1>Edit profile</h1>
    <form action="" method="post">
           {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}
            {{ form.username(size=32)}}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}

        </p>

        <p>
            {{ form.about_me.label }}
            {{ form.about_me(size=140) }}

            {% for error in form.about_me.errors %}
                {{ error }}
            {% endfor %}
        </p>


        </p>
        <p>{{ form.submit() }}</p>       
    </form>

{% endblock %}