<html>
    <head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Welkome to OSB!</title>
    {% endif %}
        </head>
    <body>
        <h1> Hi , {{ user.username }}</h1> <!-- the user is the variable, the username is from the dict-->


        {% for post in posts %}
        <div><p>
            {{ post.author.username }} says: 
            <b>{{ post.body }}</b>
        </p>
        </div>
        {% endfor %}















    </body>
</html>