{% extends "base-admin.html" %}

{% block content %}

<p>New User?<a href="{{ url_for('register') }}">Click to Register!</a></p>

<h1>Sign in</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label }}
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <div class="alert alert-danger col-3 m-2" role="alert">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(size=32) }}
            {% for error in form.password.errors %}
        <div class="alert alert-danger col-3 m-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="mb-3 form-check">
        {{ form.remember_me() }}
        {{ form.remember_me.label }}
    </div>
    {{ form.submit( )}}
</form>
{% endblock content %}