{% extends 'base-admin.html' %}

{% block content %}

 <form action="" method="post">
        {{ form.hidden_tag() }}>
        <p>
            {{ form.file.label }}<br>
            {{ form.file()}}
            {% for error in form.file.errors %}
                {{ error }}
            {% endfor %}               
        </p>
        <p>{{ form.submit() }}</p>
    </form>




<hr>

<!-- Not used 
    <h1>File Upload (oud)</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Upload"></p>
    </form>

    <p>{{ config.UPLOAD_FOLDER }} </p>
    <p>{{ bla }}</p>
  -->

{% endblock content %}


